<ul class="nav nav-list">
<li class="active"><i class="icon-home icon-white"></i><%= link_to "Home", root_path %></li>
<h1> <%= @album.album_name %></h1>

<% @artist.albums.each do |album| %>
  <% album.tracks.each do |track| %>
  - <%=  track.track_list %> <br/>
  <% end %>
<% end %>
<br/>
<%= link_to 'Back', artist_album_path(@artist, @album) %>