<ol type="1" class="dialog">
<h1> <%= @album.album_name %></h1>
<% @artist.albums.each do |album| %>
  <% album.tracks.each do |track| %>
  <li><%=  track.track_list %></li>
  <% end %>
<% end %>
</ol>
<br/>
<%= link_to 'Back', artist_album_path(@artist, @album) %>