<h1> Albums </h1>
<% @artist.albums.each do |album| %>
<%= link_to album.album_name , artist_album_track_path(@artist,@album) %>
<%= link_to 'Add tracks', new_artist_album_track_path(@artist, album) %><br/>
<% end %>
<br/>
<%= link_to 'Back', artist_path %>