/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
	.dialog {
      width: 25em;
      padding: 2em 5em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right:3px solid #ccc;
      border-bottom: 3px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;

    }
    .th_color{
      background-color: #ccc;
    }

    .to_gray{
      color: #666;
    }

    .dialog-album {
      width: 30em;
      padding: 2em 5em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right:3px solid #ccc;
      border-bottom: 3px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;

    }
    .dialog-error {
      width: 25em;
      padding: 0 5em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right:3px solid #ccc;
      border-bottom: 3px solid #ccc;
      border-color: maroon;
    }
    .container {
      margin-top: 20px;
      position: relative;
    }